
body{
	font-family: 'PT Sans', sans-serif;
}

ul,li{
	display: block;
	padding: 0;
	margin: 0;
}

h3 {
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	color: #000;
}

header{
	width: 100%;
	background-color: #fcdb00;
	padding-top: 58px;
}

.menu{
	list-style: none;
	padding-top: 10px;
}

.menu__item{
	padding: 0 57px;
	font-size: 22px;
	font-weight: bold;
	color: #010101;
}

.menu__item:hover{
	text-decoration: underline;
}

.offer{
	margin-top:132px;
}

.offer-title{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #000;
}

.offer-text{
	color: #555;
	font-size: 16px;
	width: 400px;
}

.icons__item a{
	font-size: 42px;
	color: #000;
	transition: 0.3s;
}

.icons__item a:hover{
	color: #cd1414;
}

.icons__item i{
	margin-right: 40px;
}

.ipad{
	display: block;
	border-radius: 20px;
	/*margin-top: 70px;
	margin-bottom: 100px;*/
	margin: 60px auto  100px ;
}

/*.block1{
	padding-top: 100px;
}*/

.title{
	text-align: center;
	margin-bottom: 90px;
}

.title__main{
	font-size: 32px;
	font-weight: bold;
}

.title__text{
	font-size: 20px;
	width: 730px;
	margin: 0 auto;
}

.feature{
	margin-bottom: 65px;
}

.feature__icon{
	color: #000;
	font-size: 50px;
	margin-right: 34px;
}

.feature_text{
	color: #8e8888;
}

.block2{
	background-color: #010101;
}

.yellow{
	color: #fcdb00;
}

.title{
	padding-top: 100px;
}

.title__text{
	color: #898989;
}

.form{
	text-align: center;
	margin-bottom: 10px;
}

.form__input{
	border-radius: 5px;
	width: 580px;
	height: 50px;
	margin-right: 20px;
}

.form__btn{
	border-radius: 5px;
	width: 130px;
	height: 50px;
	background-color: #fcdb00;
	border: none;
	font-weight: bold;
}

footer{
	background-color: #010101;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 80px;
}

.credits{
	text-align: center;
	width: 180px;
	margin:0 auto;
}

@media screen and (max-width: 992px){
	 .logo{
		display: block;
		margin: 0 auto;
	 }

	 .offer{
	 	text-align: center;
	 }

	 .offer-text{
	 	width: auto;
	 }

	 .icons{
	 	justify-content: center;
	 }

	 .title{
	 	text-align: center;
	 }

	 .title__text{
	 	width: auto;
	 }

	 .form__input{
	 	margin: 0;
	 	width: 100%;
	 }

	 .form__btn{
	 	width: 100%;
	 }

	 .title__text{
	 	width: 100%;
	 }
}

@media screen and (max-width: 576px){
	.ipad{
		width: 100%;
	}

	.menu{
		flex-direction: column;
		text-align: center;
	}

	.menu__item{
		margin-bottom: 10px;
	}
}
